## Group Memebers
- Muhammed Talha Gedikli - 19069608
- İsmail Uğurlu - 19069020

## Load required libraries and data

In [17]:
# Import required libraries
import pandas as pd
import numpy as np

# Read data
data_all = pd.read_excel('./Asg1 Data.xlsx')

# Add arbitrary var (X0=1) to dataset
# data_all['X0'] = np.ones(len(data_all.index), dtype=int)
data_all['X0'] = [1 for i in range(len(data_all.index))]

# Reassign the data order for readability
data_all = data_all[['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'Y']]

# Split train and test datasets (70 - 30)
data_train = data_all.iloc[0:70]
data_test = data_all.iloc[70:]

# Get train values
X_columns = ['X'+str(i) for i in range(len(data_all.columns)-1)] # -1 because of the 'Y' column
X_train = data_train[X_columns]
Y_train = data_train.Y

# Get test values
X_test = data_test[X_columns]
Y_test = data_test.Y

# Create a dataframe for parameters
# Inıtially, set all of them to 1
temp_thetas = [1 for i in range(len(X_train.columns))] # -1 because of y column
X_train

    X0        X1        X2         X3         X4        X5
0    1  5.070040  3.216041   7.314219   4.914274  2.298624
1    1  3.289895  6.098758  12.513047   4.952361  3.669576
2    1  8.321482  5.872616   8.272805   6.123539  5.037049
3    1  2.391430  5.447249  13.211005   4.384228  6.323588
4    1  2.976470  6.552324   7.889798   6.885678  1.810266
..  ..       ...       ...        ...        ...       ...
65   1  3.467513  5.398541  14.096957  14.184515  4.606922
66   1  6.665853  7.458174  13.419141   5.622059  5.658162
67   1  6.038697  5.424360   8.391522   9.214942  2.598926
68   1  0.054628  6.856655   9.552751  13.700491  5.256600
69   1  9.486984  2.265877   8.139134   9.999298  2.554430

[70 rows x 6 columns]

## Calculate temp_thetas with train dataset

In [49]:
# Calculate thetas
# Assign an alpha value (0.1 currently)
alpha = 0.1
train_m = len(X_train.index)
thetas = []

# for every column (c)
for c in range(len(X_train.columns)):
    # Init the sum value for calculating theta
    sm = 0
    temp_thetas = [1 for i in range(len(X_train.columns))]
    # for every row (r)
    # rows in 0-69 because we split them in two (train and test sets)
    for r in range(len(X_train.index)):
        # The sum part in the formula (the error we making)
        # Value (X_train.iloc[r, 0]**r) is already '1' every step because we assume all X0 to be one
        sm = temp_thetas[c] - ((alpha/train_m) * X_train.iloc[r, c] * (temp_thetas[0]*1 + temp_thetas[1]*(X_train.iloc[r, 1]) + temp_thetas[2]*(X_train.iloc[r, 2]) + 
                                                                        temp_thetas[3]*(X_train.iloc[r, 3]) + temp_thetas[4]*(X_train.iloc[r, 4]) + 
                                                                        temp_thetas[5]*(X_train.iloc[r, 5]) - Y_train.iloc[r]))

    thetas.append(sm)

thetas
def find_thetas(alpha=0.1):
    train_m = len(X_train.index)
    thetas = [1 for i in range(len(X_train.columns))]
    temp_thetas = [1 for i in range(len(X_train.columns))]

    # for every column (c)
    for c in range(len(X_train.columns)):
        # Init the sum value for calculating theta
        # for every row (r)
        # rows in 0-69 because we split them in two (train and test sets)
        for r in range(len(X_train.index)):
            temp_thetas = thetas.copy()
            # The sum part in the formula (the error we making)
            # Value (X_train.iloc[r, 0]**r) is already '1' every step because we assume all X0 to be one
            sm = (X_train.iloc[r, c] * (temp_thetas[0]*1 + temp_thetas[1]*(X_train.iloc[r, 1]) + temp_thetas[2]*(X_train.iloc[r, 2]) + 
                                                                            temp_thetas[3]*(X_train.iloc[r, 3]) + temp_thetas[4]*(X_train.iloc[r, 4]) + 
                                                                            temp_thetas[5]*(X_train.iloc[r, 5]) - Y_train.iloc[r]))
            thetas[c] = (temp_thetas[c] - ((alpha/train_m)*sm))

        
    return thetas

print(find_thetas(0.1))

[16.059315229045776, 24.442182402019313, 7.136372435831707, 0.5275550402665042, 1.1322041102828333, 1.8860767903412565]

## Get Errors

In [19]:
# for every column (c)
for c in range(len(X_train.columns)):
    _sum = 0
    # for every row (r)
    # rows in 70-99 because we split them in two (train and test sets)
    for r in range(len(X_train.index)):
        pass
    pass